@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

:root {
	--main-color: #131313;
	--second-color: #4b96f9;
	--body-color: #ffffff;
	--main-font: 'Helvetica', sans-serif;
	--heading-font: 'Helvetica', sans-serif;
	--bonus-font: 'Dancing Script', cursive;
}

html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

a {
	font-family: var(--heading-font);
	color: var(--body-color);
	text-decoration: none;
}

strong {
	font-size: 25px;
}

section {
	margin-top: 50px;
}

.container {
	max-width: 1200px;
}

.wrapper {
	min-height: 800px;
}

/* Badan */

body {
	position: relative;
	font-family: var(--main-font);
	color: #2b2b2b;
	line-height: 1.75em;
	background: #E0DCDC url(../images/back.webp) repeat top left;
	margin: auto;
	animation: transitionIn 0.7s;
}

.badan {
	display: flex;
	justify-content: center;
	max-height: max-content;
    gap: 50px;
    margin-bottom: 50px;
}

.main-wrapper {
	padding: 20px;
	margin: auto;
	display: flex;
	align-items: center;
	background-color: var(--body-color);
	border-radius: 25px;
	min-width: 500px;
	max-width: 800px;
	gap: 20px;
}

.main-wrapper .teks {
	margin: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

/* Header */

header p {
	color: var(--body-color);
}

header {
	background-image: linear-gradient(rgb(57, 57, 57), var(--main-color));
	padding: 0 3vh;
}

header .nav-wrapper {
	position: relative;
	display: flex;
	margin: auto;
	justify-content: space-between;
	align-items: center;
	height: 150px;
}

header .nav-wrapper {
	position: relative;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 150px;
	gap: 30px;
}

.nav-wrapper .logo {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 1.9rem;
	font-weight: 700;
	font-family: var(--heading-font);
	color: var(--main-color);
}

.nav-wrapper .menu-wrapper {
	display: flex;
	gap: 50px;
}

.nav-wrapper .menu-wrapper .menu {
	display: flex;
	align-items: flex-start;
	gap: 70px;
}

.menu-wrapper .menu .menu-link {
	font-size: 1.25rem;
	color: var(--body-color);
}

#dode svg {
	float: left;
	margin: 0 5px 0 0;
}

#dode:hover svg {
	rotate: 120deg;
	transition: .5s ease-in-out;
}

#dode:hover img {
	rotate: 120deg;
	transition: .5s ease-in-out;
}

#dode p {
	transition: .5s ease;
	clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

#dode:hover p {
	transition: .5s ease;
	clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}

.sidemenu {
	display: none;
}

/* Dropdown */

.dropbtn:hover .dropdown-content {
	display: block;
}

.dropbtn {
	float: left;
	overflow: hidden;
	border: none;
	outline: none;
	color: var(--body-color);
	background-color: inherit;
	font-family: inherit;
	font-size: 1.25rem;
	margin: 0;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: var(--body-color);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: rgba(0, 0, 0, 0.16);
}

.polaroid  {
	rotate: 3deg;
	padding: 10px 10px 0px 10px;
	min-width: 20%;
	max-width: 40%;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.16);
	margin-bottom: 25px;
	margin: auto;
	transition: 0.5s ease-in-out;
}

.polaroid:hover {
	rotate: 0deg;
	transition: 0.5s ease-in-out;
}

.polaroid2 {
	rotate: -3deg;
	transition: 0.5s ease-in-out;
}

.polaroid img,
.polaroid2 img {
	width: 100%;
}

.teks-polaroid {
	font-family: var(--bonus-font);
	text-align: center;
	padding: 5px;
}

/* Slider */
.slider-container {
	width: 100%;
	position: relative;
}

.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}


/* Galeri */
#galeri {
	display: flex;
	align-items: center;
}

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

.column {
	flex: 33%;
	max-width: 33%;
	padding: 0 4px;
}

.column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
}

/* Sidebar */

.side {
	display: flex;
	flex-direction: column;
	align-items: center;
    width: auto;
	height: auto;
    min-width: 300px;
	max-width: 350px;
}

.sidenav {
	background: var(--body-color);
	border-radius: 20px;
}

.sidenav .books {
	text-align: center;
}

.sidenav .links {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.sidenav a {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 6px 8px 6px 8px;
	text-decoration: none;
	font-size: 1em;
	color: var(--main-color);
}


.sidenav a:hover {
	color: var(--second-color);
}

.sidenav .lagu {
	margin-top: 20px;
}

.sidenav img {

	width: 60px;
	height: 60px;
}

.sidenav .tulisan {
	text-align: right;
}


/* Sidenav : Timeline */

.achievements {
	display: flex;
	align-items: baseline;
	left: 0;
	gap: 20px;
	border-bottom: 2px dashed var(--main-color);
	margin: 5px;
	padding: 5px;
}

.achievements h2 {
	font-size: xx-large;
}

#last {
	border-bottom: 2px dashed var(--body-color);
}

.achievements .desc {
	line-height: normal;
}

.date {
	display: inline-block;
}

.desc {
	display: inline-block;
	text-align: justify;
}

/* Rapper */

#rapperContent {
	padding: 40px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Footer */

footer {
	background-image: linear-gradient(rgb(57, 57, 57), var(--main-color));
	margin-top: 50px;
}

.footer {
	padding: 2vh;
	margin: auto;
	gap: 20px;
}

.footer .informasi {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	gap: 20px;
}

.footer .kotakkiri {
	min-width: 400px;
	text-align: left;
	color: var(--body-color);
}

.footer .kotakkanan {
	min-width: 200px;
	width: 25%;
	text-align: right;
	color: var(--body-color);
}

.sosmed {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding-top: 10px;
}

.sosmedgue {
	text-decoration: none;
	color: var(--body-color);
}

/* AJAX Part */

.tombol {
	background-color: var(--main-color);
	border: none;
	color: rgb(255, 255, 255);
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 25px;
}

@media screen and (max-width: 450px) {

	.prev,
	.next {
		font-size: 9px;
	}
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}

	.sidenav a {
		font-size: 18px;
	}
}

@media screen and (max-width: 1050px) {
	#galeri {
		display: block;
	}
	.badan {
		display: flex;
	}
	.badankiri {
		padding: 20px
	}
	#dode-logo {
		position: fixed;
		top: 0;
		left: 0;
	}
	.nav-wrapper .menu-wrapper {
		position: absolute;
		top: 100%;
		right: 0;
		padding: 20px;
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
		transition: 0.2s;
		background-color: var(--body-color);
	}

	.nav-wrapper .menu-wrapper.active {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		transition: 0.2s;
	}
	
	.nav-wrapper .menu-wrapper .menu {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.menu li {
		background-color: #4b96f9;
	}
	.sidemenu {
		display: block;
	}
}

@keyframes transitionIn {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}
	50% {
		opacity: 0;
		transform: translateY(-10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

/* Modal */



/* Game Pompa Ban */

#balongame img{
		width: 5%;
		height: 5%;
}

.btt {
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: #007BFF;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
	cursor: pointer;
	/* transition: .6s ease opacity,.6s ease transform; */
}